<div class="container-fluid">
  <div class="row">

    <div class="col-md-2 sidebar-left">
      <img src="https://graph.facebook.com/<%= current_user.uid %>/picture?width=300&height=300" alt="" class="sidebar-profile-image">

      <div class="wish-list-container">
        <h2 class="wishlist-title">Wish List</h2>
        <div ng-repeat="wanted_item in wish_lists">
          <div class="item-container">
            <span>{{ wanted_item.item.name }}</span>
            <span class="pull-right">{{ wanted_item.item.price | currency }}</span>
          </div>
        </div>

        <div id="dd-elements" class="clearfix">
          <div id="drop-target-one">
            Drop items to add to wish list
          </div>
        </div>

        <div class="see-more"><a ng-href="/wishlist">Show list</a></div>
      </div>

    </div>

    <div class="col-md-8 col-md-offset-2 main-section">
      <div ng-view></div>
    </div>

    <div class="col-md-2 sidebar-right">
      <h2 class="friend-title">Friends</h2>
      <div ng-repeat="friend in friends">
        <div ng-if="friend">
          <div class="friend-container">
            <span><img ng-src="{{ friend.image }}" alt="friend profile image" class="friend-thumbnail"></span>
            <span class="friend-name"><a ng-href="/wishlist/{{ friend.id }}">{{ friend.name }}</a></span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>