<div class="container">
  <div class="row">
    <div class="col-md-2" id="sidebar"><h2 id="user-name"><%= current_user.name %></h2>
    <div class="picture-container" id="drop-target-one">
    <img id="fb-pic-hires" src="https://graph.facebook.com/<%= current_user.uid %>/picture?width=300&height=300" alt="" class="sidebar-profile-image">
    </div>
    <div ng-repeat="wish_list in wish_lists">
      <div class="wish-list-container">
        <div ng-repeat="wanted_item in wish_list.wanted_items">
          <div class="item-container">
            <span class="item-name">{{ wanted_item.item.name }}</span>
          </div>
        </div>
      </div>
    </div>
    

    </div>



    <div class="col-md-10"><h2>Item List</h2>
      <div ng-repeat="item in items | filter:searchText" ng-init="$last ? dragdrop() : null">
        <div class="col-md-4 product-tile">
          <div class="inner-tile list-drop" draggable="true" data-item="{{ item.id }}">
            <h3 class="product-name">{{ item.name }}</h3>
            <div class="product-mask"><img src="{{ item.image }}" alt="item image" class="item-display-image"></div>
            <p class="category-name">{{ item.category }}</p>
            <h3 class="pull-right">{{ item.price | currency }}</h3>
    </div>
  </div>
</div>