<div class="friend-info-container">
  <span><img ng-src="https://graph.facebook.com/{{user.uid}}/picture?width=300&height=300" class="friend-profile-image" alt="profile pic"></span>
  <span class="friend-display-name">{{user.name}}</span>
</div>
<hr>

<div class="row">
  <div class="col-md-3 friend-wishlist-container">
    <p class="friends-wishlist-title">I want...</p>
    <div ng-repeat="wanted_item in user.wanted_items" class="friend-wishlist-item">
        <div class="friend-wishlist-item-priority">{{ wanted_item.priority }}</div>
        <div class="friend-wishlist-item-name">{{ wanted_item.item.name }}</div>
      </div>
    </div>
  </div>

  <div class="col-md-9">

  </div>
</div>