// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic);

body {
  background: #F9F9F9;
  padding-top: 100px;
  font-family: serif;
}

#heading {
  color:white;
  padding-left:25px;
}

#navbar {
  background-color: #00B9D1;
  border: 0px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.navbar-default {
  background-color: none;
  border: none;

  .navbar-brand {
    font-size: 32px;
    color: #FFFFFF;
  }
}

#navbar > ul:nth-child(1) > li {
  padding-top:15px;
  
}

input.search-bar {
  height: 30px;
  width: 310px;
  border-radius: 15px;
  border: none;
  margin: 10px 15px;
  padding-left: 10px;
}

ul.navbar-right {
  padding-right: 30px;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

img.navbar-profile-thumbnail {
  height: 40px;
  width: 40px;
  margin-top: 5px;
  border-radius: 5px;
}