// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

.container {
  width:100%
}

h1,h2,h3,h4,h5,h6,.item-name {
  padding:25px;
  font-family:"Roboto";
  font-weight:100;
  color:white;

}

#headerRow {
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  background-color:#FF1744;
}