// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic);

body {
  background: #F9F9F9;
  padding-top: 100px;
  font-family: serif;
}

#heading {
  color:white;
  padding-left:25px;
}

#navbar {
  background-color: #00B9D1;
  border: 0px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.navbar-default {
  background-color: none;
  border: none;

  .navbar-brand {
    font-size: 32px;
    color: #FFFFFF;
  }
}

// #navbar > ul:nth-child(1) > li {
//   padding-top:15px;

// }

div.search-bar-container {
  height: 50px;
  padding-left: 5px;
  margin-top: 1px;
  background-color: #FFFFFF;
  text-align: left;
  margin-left:10px;
  margin-right:10px;
}

input.search-bar {
//   height: 30px;
//   width: 310px;
  border-radius: 2px;
//   border: none;
//   margin: 10px 15px;
//   padding-left: 10px;
}

ul.navbar-right {
  padding-right: 30px;
  padding-top:1%;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

img.navbar-profile-thumbnail {
  height: 40px;
  width: 40px;
  margin-top: 5px;
  border-radius: 5px;
}

// Trying the ripple

/* form starting stylings ------------------------------- */
.group        {
  position:relative;
  margin-bottom:45px;
}
input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  margin-right: 10px;
  border:none;
  border-bottom:1px solid #757575;
  width: 300px;
}
input:focus     { outline:none; }

/* LABEL ======================================= */
label          {
  color:#999;
  font-size:18px;
  font-weight:100;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label     {
  top:-20px;
  font-size:14px;
  color:#FFF;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:300px; }
.bar:before, .bar:after   {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:gray;
  transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from  { background:#00B9D1; }
  to    { width:0; background:transparent; }
}

#tasty-search-bar {
  margin: 0 10px 10px;
  // padding-left: 5px;
  // padding-top:1%;
}